.main-footer{
	padding: 30px 0;

	&-contacts{
		font-size: 14px;
		color: #b3b3b3;
		padding-left: 10px;
		margin-bottom: 17px;

		&_phone{
			color:  #2856b3;
		}
		&_mail{
			@extend .main-footer-contacts_phone;
		}
	}

	&_copyright{
		@extend .main-footer-contacts;
	}
}
